* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.form {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 30px;
  margin-bottom: 30px;
  padding: 30px 10px 10px;

  background-color: #f3f3f3;
  border-radius: 20px;
}
.form__inp {
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out;
}
.form__inp:focus {
  background-color: #d6f6e3;
}
.form__inp[data-name='name'] {
  grid-column: 1;
  grid-row: 2;
}
.form__inp[data-name='area'] {
  grid-column: 1 / span 3;
  grid-row: 1;
  height: 100px;
  resize: none;
}
.form__inp[data-name='date'] {
  grid-column: 2;
  grid-row: 2;
}
.form__btn {
  grid-column: 3;
  grid-row: 2;

  padding: 10px 30px;
  border-radius: 15px;
  background-color: #b4efc4;
  border: 2px solid #b4efc4;
  font-weight: 700;
  box-shadow: 0px 0px 5px 0px #87bb95;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
}
.form__btn:active {
  box-shadow: none;
}
.form__btn:focus {
  border: 2px solid #49ef75;
}
.form__btn:disabled {
  background-color: #f4faf6;
}

.comment-list {
  position: relative;
  height: 55vh;
  list-style: none;
  overflow-y: scroll;
  box-shadow: 0px -20px 13px -14px rgba(181, 190, 196, 0.6) inset;
}
.comment-item {
  padding: 10px;
  border-bottom: 1px solid #87bb95;
  font-size: 14px;
  line-height: 1.5;
  color: grey;
}
.comment-item:not(:last-child) {
  margin-bottom: 10px;
}

.comment-head {
  display: flex;
  margin-bottom: 5px;
}
.comment-name {
  margin-right: 10px;
  color: #87bb95;
}
.item-controls {
  display: inline-block;
  margin-left: auto;
}
.controls-btn {
  background: none;
}

.like {
  width: 20px;
  height: 20px;
  pointer-events: none;
  /* fill: #eb4b57;
  fill: #87bb95; */
}
.delet {
  width: 20px;
  height: 20px;
  fill: #87bb95;
  pointer-events: none;
}
.err {
  position: absolute;
  color: red;
  font-size: 12px;
  z-index: 1;
}
